@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/admin/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/admin/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="~/admin/css/font.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="~/admin/css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="~/admin/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="~/admin/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="~/admin/https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <h1>BLOG Sayfası</h1>
                                </div>
                                <p>Aramıza katılmanızı sabırsızlıkla bekliyoruz.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Form Panel    -->
                    <div class="col-lg-6">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                <form asp-action="Register" class="form-validate mb-4">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">

                                        <input asp-for="UserName" id="login-username" required data-msg="Lütfen Adınızı giriniz." class="input-material" />
                                        <label asp-for="UserName" for="login-username" class="label-material"></label>
                                    </div>
                                    <div class="form-group">

                                        <input asp-for="Password" id="login-username" required data-msg="Lütfen şifrenizi giriniz." class="input-material" />
                                        <label asp-for="Password" for="login-password" class="label-material"></label>
                                    </div>
                                    <div class="form-group">

                                        <input asp-for="Email" id="login-username" id="login-username" required data-msg="Lütfen Email adresinizi giriniz." class="input-material" />
                                        <label asp-for="Email" for="login-username" class="label-material"></label>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Kayıt Ol" />
                                    </div>
                                </form>
                                <br>
                                <small>Hesabın'a </small><a asp-action="Login" asp-controller="Account" class="signup">Giriş Yap</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyrights text-center">
            <p>Design by <a href="#" class="external">Mr.B</a></p>

        </div>
    </div>
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/admin/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/admin/vendor/chart.js/Chart.min.js"></script>
    <script src="~/admin/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/admin/js/charts-home.js"></script>
    <script src="~/admin/js/front.js"></script>
</body>
</html>

